/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 90px;
  background: #f8fdfb;
}

/* Left side */
.hero-left {
  flex: 1;
  max-width: 500px;
}

.badge {
  display: inline-block;
  background: #e6f7f1;
  color: #0d7657;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #111;
}

.hero-left .highlight {
  color: #0d7657;
}

.hero-left p {
  font-size: 22px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Buttons */
.hero-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  /* margin-bottom: 10px; */
}

.btn-primary {
  background: #0d7657;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: border-radius 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  border-radius: 20px;
  transform: scale(1.05);
}

.btn-secondary {
  background: white;
  border: 1.5px solid #ddd;
  padding: 12px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: border-radius 0.3s ease, transform 0.2s ease;
}

.btn-secondary:hover {
  border-radius: 20px;
  transform: scale(1.05);
}

/* Stats */
.stats {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.stats h3 {
  font-size: 28px;
  font-weight: 200;
  color: #0d7657;
}

.stats p {
  font-size: 17px;
  color: #333;
}

/* Right side */
.hero-right {
  /* flex: 1; */
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 500px;
  height: 350px;
  background: #eaf5f1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d7657;
  font-size: 18px;
  font-weight: bold;
  border: 2px dashed #0d7657;
}
